<h1>This is your post</h1>
<body background="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQYWscUG8hYmtKs_e_Kz9xgKubkLSsmQXslPCpokThbFzmDt1EH">
<center>
<div class="jumbotron">
  <div class="d-flex justify-content-center">
    <div ><%= image_tag @post.image_tag, class: "header_image" %></div>
  </div>
</div>
</center>

<div>
<%= button_to "Delete", @post, method:  :delete %> 

<%= button_to "Edit","/posts/#{@post.id}/edit",  method: :get %> 
</div>